* {
  box-sizing: border-box;
}

body {
  /* font-family: sans-serif; */
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  /* font-family: sans-serif; */
  margin: 20px;
  padding: 0;
  background-color: #051820;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.types-container {
  margin-left: 200px;
}
.list-containers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
  flex-wrap: wrap;
  position: relative;
  top: 40px;
}

/* .pokemon{
  flex: 150px;
  height:300px;
  padding:50px;
  margin: 10px;
  background-color: blue;
} */

.pokemon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  height: 235px;
  width: 215px;
  margin: 10px;
  color: #27214d;
  border-radius: 16px;
  font-size: 14px;
  font-weight: bold;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* flex: 1; */
}

.pokemon:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.pokemonItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.noPokemon {
  color: white;
  font-weight: bold;
}

.form {
  display: flex;
}

img {
  background-color: white;
  max-width: 100%;
  height: auto;
}

.pokemon p {
  margin: 10px 0 0;
  font-size: 16px;
  color: white;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-top: 8px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.pokemonItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.image {
  height: 100px;
  width: 100px;
}

.types {
  display: flex;
  gap: 15px;
}

.search {
  height: 56px;
  width: 250px;
  border-radius: 8px;
  background-color: #f3f4f9;
  color: black;
  font-size: 20px;
  padding-left: 10px;
}

.button {
  height: 56px;
  width: 75px;
  border-radius: 8px;
}

.searchBar {
  position: relative;
  top: 30px;
  margin: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.typeBox {
  background-color: #051820;
  color: #f3f4f9;
}

.icon {
  border-radius: 100%;
  height: 100px;
  width: 100px;
  margin: auto;
  transition: 200ms all;
}

.icon:hover {
  filter: saturate(200%);
  transform: scale(1.1);
  cursor: pointer;
}

.icon img {
  height: 60%;
  width: 60%;
  margin: 20%;
}

.bug {
  background-color: #92bc2c;
  /* box-shadow: 0 0 20px #92BC2C; */
  border-radius: 4px;
  padding: 4px;
}

.dark {
  background: #595761;
  /* box-shadow: 0 0 20px #595761; */
  border-radius: 4px;
  padding: 4px;
}

.dragon {
  background: #0c69c8;
  /* box-shadow: 0 0 20px #0C69C8; */
  border-radius: 4px;
  padding: 4px;
}

.electric {
  background: #f2d94e;
  /* box-shadow: 0 0 20px #F2D94E; */
  border-radius: 4px;
  padding: 4px;
}

.fire {
  background: #fba54c;
  /* box-shadow: 0 0 20px #FBA54C; */
  border-radius: 4px;
  padding: 4px;
}

.fairy {
  background: #ee90e6;
  /* box-shadow: 0 0 20px #EE90E6; */
  border-radius: 4px;
  padding: 4px;
}

.fighting {
  background: #d3425f;
  /* box-shadow: 0 0 20px #D3425F; */
  border-radius: 4px;
  padding: 4px;
}

.flying {
  background: #a1bbec;
  /* box-shadow: 0 0 20px #A1BBEC; */
  border-radius: 4px;
  padding: 4px;
}

.ghost {
  background: #5f6dbc;
  /* box-shadow: 0 0 20px #5F6DBC; */
  border-radius: 4px;
  padding: 4px;
}

.grass {
  background: #5fbd58;
  /* box-shadow: 0 0 20px #5FBD58; */
  border-radius: 4px;
  padding: 4px;
}

.ground {
  background: #da7c4d;
  /* box-shadow: 0 0 20px #DA7C4D; */
  border-radius: 4px;
  padding: 4px;
}

.ice {
  background: #75d0c1;
  /* box-shadow: 0 0 20px #75D0C1; */
  border-radius: 4px;
  padding: 4px;
}

.normal {
  background: #a0a29f;
  /* box-shadow: 0 0 20px #A0A29F; */
  border-radius: 4px;
  padding: 4px;
}

.poison {
  background: #b763cf;
  /* box-shadow: 0 0 20px #B763CF; */
  border-radius: 4px;
  padding: 4px;
}

.psychic {
  background: #fa8581;
  /* box-shadow: 0 0 20px #FA8581; */
  border-radius: 4px;
  padding: 4px;
}

.rock {
  background: #c9bb8a;
  /* box-shadow: 0 0 20px #C9BB8A; */
  border-radius: 4px;
  padding: 4px;
}

.steel {
  background: #5695a3;
  /* box-shadow: 0 0 20px #5695A3; */
  border-radius: 4px;
  padding: 4px;
}

.water {
  background: #539ddf;
  /* box-shadow: 0 0 20px #539DDF; */
  border-radius: 4px;
  padding: 4px;
}
