* {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
  }
  
  h1 {
    margin-top: 0;
    font-size: 22px;
  }
  
  h2 {
    margin-top: 0;
    font-size: 20px;
  }
  
  h3 {
    margin-top: 0;
    font-size: 18px;
  }
  
  h4 {
    margin-top: 0;
    font-size: 16px;
  }
  
  h5 {
    margin-top: 0;
    font-size: 14px;
  }
  
  h6 {
    margin-top: 0;
    font-size: 12px;
  }
  
  code {
    font-size: 1.2em;
  }
  
  ul {
    padding-inline-start: 20px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #051820
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .board-row:after {
    clear: both;
    content: '';
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.centered-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.types-container {
  margin-left: 200px;
}
.list-containers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
  flex-wrap: wrap;
  position: relative;
  top:40px;
}

/* .pokemon{
  flex: 150px;
  height:300px;
  padding:50px;
  margin: 10px;
  background-color: blue;
} */

.pokemon{
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  height: 200px;
  width: 200px;
  margin:10px;
  color:#27214D;
  border-radius: 16px;
  font-size: 14px;
  font-weight: bold;
  /* flex: 1; */
}

.pokemonItem{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
}

.noPokemon{
  color: white;
  font-weight: bold;
}

.form{
  display: flex;
}

img {
  background-color: white;
  max-width: 100%;
  height: auto;
}


.pokemon p {
  margin: 10px 0 0;
  font-size: 16px;
  color: white;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-top: 8px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.pokemonItem{
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.image{
  height: 100px;
  width:100px;
}

.types{
  display:flex;
  gap: 5px;
}

.search{
  height: 56px;
  width: 250px;
  border-radius: 8px;
  background-color: #F3F4F9;
  color: black;
  font-size: 20px;
  padding-left: 10px;
}

.button{
  height: 56px;
  width:75px;
  border-radius:8px;
}

.searchBar{
  position: relative;
  top:30px;
  margin:20px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

